.contact-container
    h1 Contact us
    p
        img(src="/assets/homepage/email.svg")
        ="official@martiancats.com"
    p
        img(src="/assets/homepage/phone.svg")
        ="+1 555 346 6785"
    p
        img(src="/assets/homepage/location.svg")
        ="101 Downtown Street - City, State 9999 - Country"