header
    img(src="/assets/logo/martiancats.svg", alt="martiancats")
    p Software solutions for your business
    nav
        button(onclick="jumpToHome()") Home
        button(onclick="signUpLoad()") Sign up
        button(onclick="logInLoad()") Log in
        button(onclick="jumpToContactContainer()") Contact us