.info-home-container
    .gradient-effect
    .info-home-container-l
        section
            h1 Who we are
            p.
                Lorem ipsum dolor sit amet. Eos modi numquam et
                temporibus Quis non quibusdam beatae eum velit
                eveniet. Ad molestiae fuga eos natus dicta sed
                fugiat veritatis sit possimus nesciunt ut quia
                laudantium quo quod harum et tempore dolores.
                Hic saepe omnis non accusamus dignissimos ad
                laborum deleniti. Quo galisum enim vel voluptas
                dignissimos id amet possimus qui obcaecati
                cupiditate et unde modi ut inventore
                possimus ut nemo ullam!
            .ex-img-wrapper
        section
            h1 We innovate
            p.
                Lorem ipsum dolor sit amet. Eos modi numquam et
                temporibus Quis non quibusdam beatae eum velit
                eveniet. Ad molestiae fuga eos natus dicta sed
                fugiat veritatis sit possimus nesciunt ut quia
                laudantium quo quod harum et tempore dolores.
                Hic saepe omnis non accusamus dignissimos ad
                laborum deleniti. Quo galisum enim vel voluptas
                dignissimos id amet possimus qui obcaecati
                cupiditate et unde modi ut inventore
                possimus ut nemo ullam!
            .ex-img-wrapper
        section
            h1 Integrate your business
            p.
                Lorem ipsum dolor sit amet. Eos modi numquam et
                temporibus Quis non quibusdam beatae eum velit
                eveniet. Ad molestiae fuga eos natus dicta sed
                fugiat veritatis sit possimus nesciunt ut quia
                laudantium quo quod harum et tempore dolores.
                Hic saepe omnis non accusamus dignissimos ad
                laborum deleniti. Quo galisum enim vel voluptas
                dignissimos id amet possimus qui obcaecati
                cupiditate et unde modi ut inventore
                possimus ut nemo ullam!
            .ex-img-wrapper
    .line-decorator
    .info-home-container-r
        section
            .ex-img-wrapper
            h1 Our experience
            p.
                Sit rerum fugiat ut velit consequatur aut vitae
                earum qui minima deserunt. Id minima debitis quo
                odio galisum ad nisi odit nam consectetur placeat
                ut cumque culpa ut officiis velit sit adipisci
                eaque. Id rerum sapiente ea explicabo ipsam qui
                veniam cupiditate sit neque animi hic internos
                voluptatem ut placeat quis.
        section
            .ex-img-wrapper
            h1 Your project coming to life
            p.
                Sit rerum fugiat ut velit consequatur aut vitae
                earum qui minima deserunt. Id minima debitis quo
                odio galisum ad nisi odit nam consectetur placeat
                ut cumque culpa ut officiis velit sit adipisci
                eaque. Id rerum sapiente ea explicabo ipsam qui
                veniam cupiditate sit neque animi haic internos
                voluptatem ut placeat quis.
        section
            .ex-img-wrapper
            h1 Great plans, great achievements
            p.
                Sit rerum fugiat ut velit consequatur aut vitae
                earum qui minima deserunt. Id minima debitis quo
                odio galisum ad nisi odit nam consectetur placeat
                ut cumque culpa ut officiis velit sit adipisci
                eaque. Id rerum sapiente ea explicabo ipsam qui
                veniam cupiditate sit neque animi haic internos
                voluptatem ut placeat quis.