doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="/assets/favicon/icon.svg" rel="icon" type="image/x-svg")
        style
            include ../../../public/styles/customer/my-account/signup-verification.css
    main
        body
            img.loading(src="/assets/logo/martiancats_await.gif" alt="martiancats_await")
            img.logo(src="/assets/logo/martiancats.svg" alt="logo")
            form.form(action="/signup/verify" method="POST")
                h1 Verify your account
                p Please insert the verification code we sent to the e-mail address you provided.
                fieldset
                    input.code-input(name="code" type="number" required)
                    input.code-input(name="code" type="number" required)
                    input.code-input(name="code" type="number" required)
                    input.code-input(name="code" type="number" required)
                    input.code-input(name="code" type="number" required)
                    input.code-input(name="code" type="number" required)
            script(src="/scripts/customer/signup-verification.js")